<% if(posts.length > 0){ ;%>
    <div class="d-flex justify-content-evenly flex-wrap">
    <% posts.forEach((post) => { ;%>
        <div class="card text-center ms-3 me-3 mt-3" style="width: 20rem;">
            <% if(post.type ==  'Artigo'){ %>
                <div class="card-header bg-primary text-light">
            <% }else if(post.type ==  'Tutorial'){ %>
                <div class="card-header bg-success text-light">
            <% } else {%>
                <div class="card-header bg-warning text-light">
            <% } %>
                <%= post.type %>
            </div>
            <div class="card-body">
                <h6 class="card-title "><%= post.title ;%></h6>
                <div>
                    <img src="/icons/calendar.png" alt="">
                    <small class="text-muted"><%= post.publicationDate.getDate() %> / <%= post.publicationDate.getMonth() + 1 %> / <%= post.publicationDate.getFullYear() %></small>
                    <img src="/icons/author.png" alt="">
                    <small class="text-muted"> <%= post.author %></small>
                </div>
                <p class="card-text post-desc mt-2"><%= post.description %></p>
                <a href="/posts/<%= post._id ;%>" class="card-link">Ler na integra</a>
            </div>
        </div>
    <% }) %>
    </div>
<% }else{ ;%>
    <h6>Sem publicações</h6>
<% } ;%>