<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- O hífen utilizado no operador abaixo indica que parcial do ejs está sendo incorporado -->
        <!-- Incluindo o head -->
        <%- include('../partials/head'); %>
        <title>Postagens sobre o tema <%= theme %></title>
    </head>
    <body>
        <div>
            <!-- Incluindo o header -->
            <%- include('../partials/header'); %>
            <main  class="container card mt-56">
                <div class="card-body">
                    <h1>Postagens sobre o tema <%= theme %></h1>
                    <article>
                        <%- include('../partials/listPosts'); %>   
                    </article>
                </div>
            </main>
            <!-- Incluindo o footer -->
            <%- include('../partials/footer'); %>
        </div>
    </body>
</html>